<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>

<script src="{{ site.url }}/assets/js/code_rerender.js"></script>
<script src="{{ site.url }}/assets/js/customized_toc.js"></script>
<script src="{{ site.url }}/assets/js/gen_citation.js"></script>
<script src="{{ site.url }}/assets/js/video_display.js"></script>
<script src="{{ site.url }}/assets/js/show_forkme.js"></script>
<script src="http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js"></script>


{% if page.comments != false %}{% include disqus_comments.html %}{% endif %}