<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Long Gong",
  "url" : "http://xlong88.github.io",
  "sameAs" : [
    "https://www.facebook.com/long.gong.1253",
    "https://github.com/xlong88",
    "https://www.linkedin.com/in/long-gong-14292859",
    "https://twitter.com/longgong4",
    "https://www.quora.com/profile/Long-Gong-4",
    "http://stackexchange.com/users/7821713/long-gong",
    "https://plus.google.com/u/0/110949116838066051866/posts"
  ]
}
</script>